{% extends "base.html" %}
{% block title %}Capture{% endblock %}
{% block content %}

<!-- refresh the page every 10 sec -->
<meta http-equiv="refresh" content="10">
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">Capture</h1>
    <!-- Description -->

    <div class="container p-5 my-5 border bg-light">
        <p class="lead">
            Capture packets of: 
{% if content["selected_devices"] %}
    {% for device in content["selected_devices"]%}
        <strong>{{ device.ipv4 }}</strong> 
        {% if not loop.last %}
            <strong>and</strong>
        {% endif %}
    {% endfor %}
{% else %}
    <strong>all</strong>
{% endif %}


        </p>
        <div class="d-flex justify-content-between">
            <!-- First form -->
            <form method="POST" action="" class="w-50 me-2">
                {{ content['timeCaptureForm'].hidden_tag() }}
                <div class="form-group mt-2">
                    <label for="time">Capture time (in seconds):</label>
                    {{ content['timeCaptureForm'].timeSelector(class="form-control", id="time", placeholder="Enter time in seconds") }}
                    <button type="submit" class="btn btn-primary mt-3">Capture</button>
                </div>
            </form>
    
            <!-- Second form -->
            <form method="POST" action="" class="w-50 ms-2">
                {{ content['numberCaptureForm'].hidden_tag() }}
                <div class="form-group mt-2">
                    <label for="number">Number of packets:</label>
                    {{ content['numberCaptureForm'].numberSelector(class="form-control", id="number", placeholder="Enter number of packets") }}
                    <button type="submit" class="btn btn-primary mt-3">Capture</button>
                </div>
            </form>
        </div>
    </div>
    

    <h3 class="mt-5 text-center">Connected Devices:</h3>

    <div class="container p-5 my-5 border bg-light">
        <p class="lead" id="deviceList">
            {% if content["devices"] %}
           
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>IPV4</th>
                        <th>IPV6</th>
                        <th>MAC Address</th>
                        <th>Vendor</th>
                        <th>Model</th>
                        <th>Version</th>
                        <th>Status</th>
                        <th>Avg Ping</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device in content["devices"] %}
                        <tr>
                            <td>
                                <form method="POST" action="">
                                    {{ content['selectForm'].hidden_tag() }}
                                    <input type="hidden" name="device" value="{{ device['id'] }}">
                                    {% if not device.selected %}

                                    <input type="hidden" name="action" value="select">

                                    <a>
                                        <button type="submit" class="btn btn-success">Select</button>
                                    </a>
                                    {% else %}
                                    <input type="hidden" name="action" value="deselect">
                                    <a>
                                        <button type="submit" class="btn btn-danger">Deselect</button>
                                    </a>
                                    {% endif %}
                                </form>                    
                            </td>
                            <td>{{ device['name'] if device['name']!= Null else 'No name'}}</td>
                            <td>{{ device['ipv4'] }}</td>
                            <td>{{ device['ipv6'] if device['name']!=Null else "No IPV6"}}</td>
                            <td>{{ device['mac'] }}</td>
                            <td>{{ device['vendor'] if device['name']!=Null else "No vendor"}}</td>
                            <td>{{ device['model'] if device['name']!=Null else "No model"}}</td>
                            <td>{{ device['version'] if device['name']!=Null else "No version"}}</td>
                            <td>{{ "Connected" if device['is_online'] else "Disconnected" }}</td>
                            <td> {{ "{:.2f}".format(device['avg_ping']) ~ ' ms' if device['name']!=Null else "No ping" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                No devices found.
            {% endif %}
        </p>
    </div>
</div>


{% endblock %}

