<!-- 
This file is part of PyFlaSQL.
Original author: Noé Backert (noe.backert@gmail.com)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}PyFlaSQL{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">User Profile</h1>
    <div class="container p-5 my-5 border">
        <!-- Description -->
       
        <p class="lead">
            Username: {{username}}
        </p>


        <p class="lead">
            <a href="{{url_for('blueprint.modify_password')}}">Modify Password</a>
        </p>

    </div>

</div>
{% endblock %}

