<!-- 
This file is part of PyFlaSQL.
Original author: Noé Backert (noe.backert@gmail.com)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">About this IDS</h1>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            This IDS has been developed as part of a project for the course "INSE6170 - Network Security
            Architecture and Management" of Concordia University
                
        <p class="lead">
            This project uses HTML, the standard markup language for creating web pages, along with the popular
            Bootstrap CSS framework to create a responsive and visually appealing user interface.
        </p>
        <p class="lead">
            On the server-side, it uses Python, a versatile and powerful programming language, along with Flask, a
            lightweight web framework, to build the backend logic and handle dynamic content generation. For data
            storage, and employs PostgreSQL, to manage the relational database.
        </p>

    </div>

</div>
{% endblock %}

