<!-- 
This file is part of PyFlaSQL.
Original author: Noé Backert (noe.backert@gmail.com)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<style>
    canvas {
        max-width: 100%; /* Prevents overflowing the parent */
        max-height: 300px; /* Limits the height to 300px */
    }


    .card figure {
        display: flex;
        justify-content: center; /* Centers the chart horizontally */
    }

    .card {
        width: auto;
        height: 380px;
    }
</style>
<style>
    .slider-container {
        width: 100%;  /* Set the container width to 100% */
        max-width: 100%;  /* Ensure no max width restriction */
    }
    input[type="range"] {
        width: 100%;  /* Make the slider take the full width of the container */
        -webkit-appearance: none;  /* Remove default styling on some browsers */
        appearance: none;
        background: #ddd;
        border-radius: 5px;  /* Optional: rounded corners for the slider */
    }

    /* Optional: Style the thumb of the slider */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #FF6384;  /* Thumb color */
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #FF6384;
        cursor: pointer;
    }
</style>

<head>
    <script>
        // Update the slider value and autosubmit the form
        function updateSlider(value) {
            document.getElementById('slider').value = value;
            const percentage = (value-{{ content['min'] }}) / ({{ content['max'] }}-{{ content['min'] }});
            slider.style.background = `linear-gradient(to right, #ffb1c2 0%, #ffb1c2 ${percentage*100}%, #ddd ${percentage*100}%, #ddd 100%)`;
        
        }

        // Autosubmit the form when the slider is released
        function submitOnRelease() {
            document.querySelector('form').submit();
        }
            // Set initial background color when the page loads
        window.addEventListener('load', () => {
            const slider = document.getElementById("slider");
            updateSlider(slider.value);
        });

    </script>
</head>
<div class="dashboard-container">
    <h1 class="text-center p-2">IDS Dashboard</h1>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-title text-center">Global Data Rate - refresh {{content.data_rate_refresh}} s</h4>
                    <figure>
                        <canvas id="dataRateChart"></canvas>
                    </figure>
                    
                    <div class="slider-container">
                        <form method="POST">
                            {{ content["form"].hidden_tag() }}
                            <input 
                                type="range" 
                                id="slider" 
                                name="slider" 
                                min="{{ content['min'] }}"
                                max="{{ content['max'] }}"
                                value="{{ content['form'].slider.data }}" 
                                oninput="updateSlider(this.value)"
                                onchange="submitOnRelease()"
                            >
                    
                            <!-- Hidden field to send the value -->
                            <input 
                                type="hidden" 
                                id="slider" 
                                name="slider" 
                                value="{{ content['form'].slider.data }}"
                            >
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-title text-center">Anomalies Chart </h3>
                    <figure>
                        <canvas id="anomaliesChart"></canvas> 
                    </figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <h4 class="card-title text-center">Connected Devices</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>Name</th>
                                <th>MAC Address</th>
                                <th>Data Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for elt in content["devices"] %}
                            <tr>
                                <!-- green dot if online, red dot if offline -->
                                <td>{% if elt.is_online %}<span style="color: green;">&#x25CF;</span>{% else %}<span style="color: red;">&#x25CF;</span>{% endif %}</td> 
                                <td>{{ elt.name }}</td>
                                <td>{{ elt.mac }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <figure>
                        <canvas id="connectedDevicesChart"></canvas>
                    </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

   
    
    <!-- Anomalies Types -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Anomaly detected</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type of anomaly</th>
                        <th>Filepath</th>
                        <th>Severity level</th>
                        <th>Severity label</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elt in content["anomalies"] %}
                    <tr>
                        <td>{{ elt.id }}</td>
                        <td>{{ elt.anomaly_type }}</td>
                        <td>{{ elt.file_path }}</td>
                        <td>{{ elt.threat_level }}</td>
                        <td>{{ elt.threat_label}}</td>
                        <td>{{ elt.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    
            </table>
        </div>
    </div>

    <!-- Anomalies Severity -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Anomaly Severity</h3>
            <p class="text-center">Severity of anomalies detected</p>
            <ul class="list-group">
            </ul>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Anomalies Distribution</h3>
            <canvas id="anomaliesChart"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="module">
    import { renderAnomaliesChart, renderDataRateChart } from '../../../assets/js/custom/chart.js';

    const refreshInterval = {{ content.data_rate_refresh | tojson }};
    console.log('Refresh Interval:', refreshInterval);  // Test the value
    document.addEventListener('DOMContentLoaded', () => {
        const batchSize = {{ content.form.slider.data | tojson }};  // Serialize the value correctly
        console.log('Batch Size:', batchSize);  // Test the value
        renderAnomaliesChart(
            "{{ url_for('blueprint.get_anomalies') }}", 
            'anomaliesChart', 
            refreshInterval
        );
        renderDataRateChart(
            "{{ url_for('blueprint.get_data_rate') }}", 
            'dataRateChart', 
            refreshInterval,
            batchSize
        );
    });
</script>

{% endblock %}

