<!-- 
This file is part of PyFlaSQL.
Original author: Noé Backert (noe.backert@gmail.com)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<style>
    canvas {
        max-width: 100%; /* Prevents overflowing the parent */
        max-height: 300px; /* Limits the height to 300px */
    }

    
    .card figure {
        display: flex;
        justify-content: center; /* Centers the chart horizontally */
    }
</style>
<style>
    .slider-container {
        width: 100%;  /* Set the container width to 100% */
        max-width: 100%;  /* Ensure no max width restriction */
    }
    input[type="range"] {
        width: 100%;  /* Make the slider take the full width of the container */
        -webkit-appearance: none;  /* Remove default styling on some browsers */
        appearance: none;
        background: #ddd;
        border-radius: 5px;  /* Optional: rounded corners for the slider */
    }

    /* Optional: Style the thumb of the slider */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #FF6384;  /* Thumb color */
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #FF6384;
        cursor: pointer;
    }
</style>

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script>
        // Update the slider value and autosubmit the form
        function updateSlider(value) {
            document.getElementById('slider').value = value;
            const percentage = (value-{{ content['min'] }}) / ({{ content['max'] }}-{{ content['min'] }});
            slider.style.background = `linear-gradient(to right, #ffb1c2 0%, #ffb1c2 ${percentage*100}%, #ddd ${percentage*100}%, #ddd 100%)`;
        
        }

        // Autosubmit the form when the slider is released
        function submitOnRelease() {
            document.querySelector('form').submit();
        }
            // Set initial background color when the page loads
        window.addEventListener('load', () => {
            const slider = document.getElementById("slider");
            updateSlider(slider.value);
        });

    </script>
</head>
<div class="dashboard-container">
    <h1 class="text-center p-2">IDS Dashboard</h1>
    
    <div class="container-fluid">
        <div class="col d-flex align-items-stretch">
            <div class="col-md-8">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card">
                            <h4 class="card-title text-center">Global Data Rate - refresh {{content.data_rate_refresh}} s</h4>
                            <figure>
                                <canvas id="dataRateChart"></canvas>
                            </figure>
                            
                            <div class="slider-container">
                                <form method="POST">
                                    {{ content["form"].hidden_tag() }}
                                    <input 
                                        type="range" 
                                        id="slider" 
                                        name="slider" 
                                        min="{{ content['min'] }}"
                                        max="{{ content['max'] }}"
                                        value="{{ content['form'].slider.data }}" 
                                        oninput="updateSlider(this.value)"
                                        onchange="submitOnRelease()"
                                    >
                                    <!-- Hidden field to send the value -->
                                    <input 
                                        type="hidden" 
                                        id="slider" 
                                        name="slider" 
                                        value="{{ content['form'].slider.data }}"
                                    >
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card">
                            <h4 class="card-title text-center">Anomalies Chart </h4>
                            <figure>
                                <canvas id="anomaliesChart"></canvas> 
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-12">
                        
                        <div class="card">
                            <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="card-title text-center flex-grow-1">Anomaly detected</h3>
                                <a href="{{ url_for('blueprint.delete_anomaly', anomaly_id='all') }}" class="btn btn-danger"><i class="fas fa-trash"></i> Clear all</a>
                            </div>
                                <div class="table-responsive" style="max-height: calc(100vh - 600px);  overflow-y: auto;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Type of anomaly</th>
                                                <th>Filepath</th>
                                                <th>Severity</th>
                                                <th>Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="anomaliesTable">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- extend the column through the bottom of the page -->
            <div class="col-md-4">
                <div class="card table-responsive" style="max-height: calc(100vh - 170px);  overflow-y: auto;">
                    <h4 class="card-title text-center">Connected Devices</h4>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Name</th>
                                    <th>MAC Address</th>
                                    <th>Data Rate</th>
                                </tr>
                            </thead>
        
                            <tbody id="devicesTable">
                                <!-- Rows will be dynamically updated -->
                            </tbody>
                        </table>
                        <figure>
                            <canvas id="connectedDevicesChart"></canvas>
                        </figure>
                    </div> 
                        
                </div>
            </div>
           
        </div>
    </div>
    

   
    
   
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="module">
    import { renderAnomalies, renderDataRateChart, renderDataRateDevices, fetchDataRatesDevices} from '../../../assets/js/custom/chart.js';

    const refreshInterval = {{ content.data_rate_refresh | tojson }};
    const refreshIntervalConnectedDevices = {{ content.data_rate_connected_devices_refresh | tojson }};
    document.addEventListener('DOMContentLoaded', () => {
        const batchSize = {{ content.form.slider.data | tojson }};  // Serialize the value correctly
        renderAnomalies(
            "{{ url_for('blueprint.get_anomalies') }}", 
            'anomaliesChart', 
            refreshInterval,
            "{{ url_for('blueprint.anomaly', anomaly_id='anomalyID') }}"
        );
        renderDataRateChart(
            "{{ url_for('blueprint.get_data_rate') }}", 
            'dataRateChart', 
            refreshInterval,
            batchSize
        );
      
        function fetchData() {
        fetch("{{ url_for('blueprint.get_data') }}")
            .then(response => response.json())
            .then(devices => {
                let listDevicesIds = [];
                const tableBody = document.getElementById('devicesTable');
                tableBody.innerHTML = ''; // Clear the table

                devices.forEach(device => {
                    const row = `
                        <tr>
                            <td>${device.is_online ? '<span style="color: green;">&#x25CF;</span>' : '<span style="color: red;">&#x25CF;</span>'}</td>
                            <td>${device.name || 'No name'}</td>
                            <td>${device.mac || 'No MAC'}</td>
                            <td><canvas id="deviceChart-${device.id}"></canvas></td>
                        </tr>
                    `;
                    tableBody.insertAdjacentHTML('beforeend', row);
                    listDevicesIds.push(device.id);
                });
            const apiUrl = "{{ url_for('blueprint.get_data_rate', device_ids='') }}";
            fetchDataRatesDevices(apiUrl, listDevicesIds)
            })
            .catch(error => console.error('Error fetching ping data:', error));
    }

    setInterval(fetchData, refreshIntervalConnectedDevices*1000);
    fetchData();
    });
    
    
    window.toggleRead = function toggleRead(anomalyId) {
        // Add your logic to handle marking as read
        console.log(`Marking anomaly with ID ${anomalyId} as read.`);
        const apiUrl = "{{ url_for('blueprint.toggle_read') }}";
        fetch(`${apiUrl}?anomaly_id=${encodeURIComponent(anomalyId)}`);
        setTimeout(() => {
            window.location.reload();
        }, 250);
    }

    window.deleteAnomaly = function deleteAnomaly(anomalyId) {
        // Add your logic to handle deletion
        console.log(`Deleting anomaly with ID ${anomalyId}.`);
        const apiUrl = "{{ url_for('blueprint.delete_anomaly') }}";
        fetch(`${apiUrl}?anomaly_id=${encodeURIComponent(anomalyId)}`);
        // wait for 1 second before reloading the page
        setTimeout(() => {
            window.location.reload();
        }, 250);

    }
</script>

{% endblock %}

