{% extends "base.html" %}
{% block title %}Hotspot{% endblock %}
{% block content %}

<!-- refresh the page every 10 sec -->
<meta http-equiv="refresh" content="10">
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">Hotspot</h1>
    <!-- Description -->

    <div class="container p-5 my-5 border bg-light">
        <p class="lead">
            Hotspot scan:
        </p>
        <form method="POST" action="{{ url_for('blueprint.hotspot') }}">
            {{ content['form'].hidden_tag() }}
            <button type="submit" class="btn btn-primary mt-3">Scan new devices</button>
        </form>
    </div>

    <h3 class="mt-5 text-center">Connected Devices:</h3>

    <div class="container p-5 my-5 border bg-light">
        <p class="lead" id="deviceList">
            {% if content["devices"] %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Name</th>
                            <th>IPV4</th>
                            <th>IPV6</th>
                            <th>MAC Address</th>
                            <th>Vendor</th>
                            <th>Model</th>
                            <th>Version</th>
                            <th>Status</th>
                            <th>Avg Ping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in content["devices"] %}
                            <tr>
                                <td>
                                    {% if device['id']!= 1%}
                                    <a href="{{ url_for('blueprint.delete_device', device_id=device['mac']) }}">
                                        <button class="btn btn-danger">Delete</button>
                                    </a>
                                   
                                    <a href="{{ url_for('blueprint.edit_device', device_id=device['mac']) }}">
                                        <button class="btn btn-primary">Edit</button>
                                    </a>
                                    {% else %}
                                    <strong>Hotspot</strong>
                                    {% endif %}
                                   
                                </td>
                                <td>{{ device['name'] if device['name']!= Null else 'No name'}}</td>
                                <td>{{ device['ipv4'] }}</td>
                                <td>{{ device['ipv6'] if device['name']!=Null else "No IPV6"}}</td>
                                <td>{{ device['mac'] }}</td>
                                <td>{{ device['vendor'] if device['name']!=Null else "No vendor"}}</td>
                                <td>{{ device['model'] if device['name']!=Null else "No model"}}</td>
                                <td>{{ device['version'] if device['name']!=Null else "No version"}}</td>
                                <td>{{ "Connected" if device['is_online'] else "Disconnected" }}</td>
                                <td> {{ "{:.2f}".format(device['avg_ping']) ~ ' ms' if device['name']!=Null else "No ping" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                No devices found.
            {% endif %}
        </p>
    </div>
</div>


{% endblock %}

